<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>12345, Xyz Street, Mumbai, 400001, India</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "8888888888" %></p>

        <h3>Email</h3>

        <p><a href="mailto:salman@example.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.773287353153!2d72.83312071455754!3d18.941426561111577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce275dc3f83b%3A0x2603f94796deb9d9!2sCST%20Local%20Train%20Station!5e0!3m2!1sen!2sin!4v1608044938632!5m2!1sen!2sin" width="350" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>